{% extends 'base.html' %}

{% block content %}

<div class="card shadow-lg p-5">

    <h2>Create Task</h2>

    <form method="POST">

        <input
            type="text"
            name="title"
            class="form-control mb-3"
            placeholder="Task Title"
            required
        >

        <textarea
            name="description"
            class="form-control mb-3"
            placeholder="Description"
        ></textarea>

        <select
            name="status"
            class="form-control mb-3"
        >

            <option>Pending</option>

            <option>In Progress</option>

            <option>Completed</option>

        </select>

        <button class="btn btn-success">
            Save Task
        </button>

    </form>

</div>

{% endblock %}