{% extends 'base.html' %}

{% block content %}

<div class="card shadow-lg p-5">

    <h2>Edit Task</h2>

    <form method="POST">

        <input
            type="text"
            name="title"
            class="form-control mb-3"
            value="{{ task.title }}"
            required
        >

        <textarea
            name="description"
            class="form-control mb-3"
        >{{ task.description }}</textarea>

        <select
            name="status"
            class="form-control mb-3"
        >

            <option {% if task.status == 'Pending' %}selected{% endif %}>
                Pending
            </option>

            <option {% if task.status == 'In Progress' %}selected{% endif %}>
                In Progress
            </option>

            <option {% if task.status == 'Completed' %}selected{% endif %}>
                Completed
            </option>

        </select>

        <button class="btn btn-primary">
            Update Task
        </button>

    </form>

</div>

{% endblock %}